body {
    color: white;
    margin: 0px;
    padding: 0px;
   background: url(https://source.unsplash.com/collection/190727/1600*900)no-repeat center center/cover;
}

.left {
    display: inline-block;
    position: absolute;
    left: 24px;
    top: 13px;

}

.left img {
    width: 40px;
}

.left div {
    text-align: center;
}

.mid {
    display: block;
    top: 13px;
    width: 33%;
    margin: 13px auto;
  

}

.right {
    display: inline-block;
    position: absolute;
    right: 24px;
    top: 13px;

}

.kingo {
    display: inline-block;

}

.kingo li {
    display: inline-block;
    font-size: 17px;
}

.kingo li a {
    color: white;
    text-decoration: none;
    padding: 34px 12px;
}

.kingo li a:hover,
.kingo li a.jingo {
    text-decoration: underline;
    color: gray;


}

.btn {
    margin: 0px 9px;
    background-color: rgb(154, 101, 101);
    color: white;
    padding: 5px 16px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;

}

.btn:hover {
    background-color: black;
}

.container {
    border: 2px solid white;
    margin: 102px 172px;
    padding: 75px;
    width: 33%;
    border-radius: 12px;

}

.group input {
    text-align: center;
    display: block;
    width: 364px;
    padding: 6px;
    border: 2px solid black;
    margin: 3px auto;
}

.container h2 {
    text-align: center;
}

.container button {
    display: block;
    width: 80%;
    margin: auto;
}

.container input {
    border-radius: 10px;
}